@model ICollection<RegistroTipo>

<div class="p-5 bg-light border rounded-3">
    <h2>@Localizer["El registro se ha cerrado"]</h2>
    <p>@Localizer["Muchas gracias por su participación."]</p>
    <p>@Localizer["Sitio web:"] <a href="@ViewData["UrlPortal"]">@ViewData["UrlPortal"]</a></p>
</div>