@model reunionhistoriadores2025.Areas.Admin.ViewModels.Usuarios.CambiarPasswordViewModel

@section Styles {
<partial name="_ValidationStylesPartial" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@sweetalert2/theme-bootstrap-4@@5.0.8/bootstrap-4.min.css" />
}
@section Scripts {
<partial name="_ValidationScriptsPartial" />
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
<script src="~/admin/js/usuarios/crear.js" asp-append-version="true"></script>
}

@{
    ViewData["Title"] = @Localizer["Usuarios"];
    ViewData["SubTitle"] = @Localizer["Cambiar contraseña"];
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb small">
        <li class="breadcrumb-item"><a class="text-decoration-none" asp-controller="Home" asp-action="Index" title="@Localizer["Regresar al inicio"]">@Localizer["Inicio"]</a></li>
        <li class="breadcrumb-item"><a class="text-decoration-none" asp-controller="Usuarios" asp-action="Index" title="@Localizer["Usuarios"]">@Localizer["Usuarios"]</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>

<h2 class="text-center mb-4">@ViewData["Title"] <small class="text-muted">@ViewData["SubTitle"]</small></h2>

<form asp-action="CambiarPassword">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="card text-dark bg-light mt-3">
        <div class="card-header">
            @Model.UserName
        </div>
        <div class="card-body">
            <div class="form-text mb-2">
                <div class="text-dark">@Localizer["Correo alterno"]</div>
                @Model.Email
            </div>
            <div class="form-text mb-2">
                <div class="text-dark">@Html.DisplayNameFor(model => model.Nombrecompleto)</div>
                @Model.Nombrecompleto
            </div>
            <div class="form-text mb-2">
                <div class="text-dark">@Html.DisplayNameFor(model => model.ActiveDirectoryEnabled)</div>
                @(Model.ActiveDirectoryEnabled ? "Sí" : "No")
            </div>
            <div class="form-text mb-2">
                <div class="text-dark">@Html.DisplayNameFor(model => model.CardsViewEnabled)</div>
                @(Model.CardsViewEnabled ? "Sí" : "No")
            </div>
            <div class="form-text mb-2">
                <div class="text-dark">Roles</div>
                @Model.Rol
            </div>
        </div>
    </div>

    <div class="card text-dark bg-light mt-3">
        <div class="card-header">
            Datos de contraseña
        </div>
        <div class="card-body small">
            <div class="mb-3 obligatorio">
                <label asp-for="NewPassword" class="form-label"></label>
                <span class="input-group">
                    <input asp-for="NewPassword" rel="gp" data-size="10" data-character-set="a-z,A-Z,0-9,#" placeholder="Introduzca un valor para este campo" class="form-control password" />
                    <button class="btn btn-outline-secondary getNewPass" type="button"><i class="bi bi-arrow-clockwise"></i></button>
                </span>
                <div class="small text-secondary">Passwords must have at least one non letter or digit character ('!@@#$%^&*)('). Passwords must have at least one lowercase ('a'-'z'). Passwords must have at least one uppercase ('A'-'Z'). Passwords must have at least one digit ('0'-'9').</div>
                <span asp-validation-for="NewPassword" class="invalid-feedback"></span>
            </div>
        </div>
    </div>

    <div class="text-center mt-3">
        <button id="btnEnviar" type="submit" class="btn btn-sm btn-primary" data-swaltitle="@ViewData["Title"] - @ViewData["SubTitle"]" data-swaltext="@Localizer["¿Confirma que desea guardar la información?"]">@Localizer["Guardar"]</button>
        <a class="btn btn-sm btn-outline-secondary" asp-controller="Usuarios" asp-action="Index" title="@Localizer["Cancelar"]">@Localizer["Cancelar"]</a>
    </div>
</form>