@model RegistroTipo

@section Styles {
<partial name="_ValidationStylesPartial" />
}
@section Scripts {
<partial name="_ValidationScriptsPartial" />
}

@{
    ViewData["Title"] = @Localizer["Editar"];
    ViewData["SubTitle"] = @Localizer["Tipo de registro"];    
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb small">
        <li class="breadcrumb-item"><a class="text-decoration-none" asp-controller="Home" asp-action="Index" title="@Localizer["Regresar al inicio"]">@Localizer["Inicio"]</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>

<h2 class="text-center mb-4">@ViewData["Title"] <small class="text-muted">@ViewData["SubTitle"]</small></h2>

<form asp-action="Editar">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />

    <div class="card text-dark bg-light mt-3">
        <div class="card-header">
            @Model.Id - @Model.Nombre
        </div>
        <div class="card-body small">
            <div class="mb-3">
                <label asp-for="Id" class="form-label"></label>
                <div class="form-text">
                    @Html.DisplayFor(model => model.Id)
                </div>
            </div>
            <div class="mb-3 obligatorio">
                <label asp-for="Nombre" class="form-label"></label>
                <input asp-for="Nombre" placeholder="Introduzca un valor para este campo" class="form-control" />
                <span asp-validation-for="Nombre" class="invalid-feedback"></span>
            </div>
            <div class="mb-3 obligatorio">
                <label asp-for="Descripcion" class="form-label"></label>
                <input asp-for="Descripcion" placeholder="Introduzca un valor para este campo" class="form-control" />
                <span asp-validation-for="Descripcion" class="invalid-feedback"></span>
            </div>
            <div class="mb-3 obligatorio">
                <label asp-for="IconoCss" class="form-label"></label>
                <input asp-for="IconoCss" placeholder="Introduzca un valor para este campo" class="form-control" />
                <span asp-validation-for="IconoCss" class="invalid-feedback"></span>
            </div>
            <div class="mb-3 obligatorio">
                <label asp-for="ClaseCss" class="form-label"></label>
                <input asp-for="ClaseCss" placeholder="Introduzca un valor para este campo" class="form-control" />
                <span asp-validation-for="ClaseCss" class="invalid-feedback"></span>
            </div>
            <div class="mb-3 obligatorio">
                <label asp-for="FechaCierre" class="form-label"></label>
                <input asp-for="FechaCierre" placeholder="Introduzca un valor para este campo" class="form-control" />
                <span asp-validation-for="FechaCierre" class="invalid-feedback"></span>
            </div>
            @* <div class="mb-3">
                <label asp-for="MaxAutores" class="form-label"></label>
                <input asp-for="MaxAutores" placeholder="Introduzca un valor para este campo" class="form-control" />
                <span asp-validation-for="MaxAutores" class="invalid-feedback"></span>
            </div> *@
        </div>
    </div>

    <div class="text-center mt-3">
        <button id="btnEnviar" type="submit" class="btn btn-sm btn-primary">@Localizer["Guardar"]</button>
        <a class="btn btn-sm btn-outline-secondary" asp-action="Index" title="@Localizer["Cancelar"]">@Localizer["Cancelar"]</a>
    </div>
</form>