@model X.PagedList.IPagedList<reunionhistoriadores2025.Models.Simposio>
@using X.PagedList.Mvc.Core; 
@using X.PagedList.Web.Common; 
@{
    ViewBag.Title = "Listado de simposios";
}
@{
    int contador = 1;
}

<h2>Listado de simposios</h2>
<div class="filtro-superior">
    <a asp-action="DescargarZip" class="btn btn-outline-primary">
        Descargar todos los archivos (.zip)
    </a>
    <a asp-action="ExportarExcel" class="btn btn-outline-primary">
        Descargar listado en Excel
    </a>
</div>
<br />
@* <form asp-action="Index" method="get" class="mb-3 d-flex">
    <input type="text" name="buscar" value="@ViewBag.Buscar" class="form-control me-2" placeholder="Buscar por correo o folio..." />
    <button type="submit" class="btn btn-primary">Buscar</button>
</form> *@
@if (TempData["Mensaje"] != null)
{
    <div class="alert alert-warning">@TempData["Mensaje"]</div>
}
<table class="table table-hover">
    <thead class="table-success">
        <tr>
            <th>#</th>
            <th>Folio</th>
            <th>Nombre del simposio</th>
            <th>Tema</th>
            <th>Coordinador</th>
            <th>Correo</th>
            <th>Fecha</th>
            <th>Detalles</th>
        </tr>
    </thead>
    <tbody>
        @{
            int index = (Model.PageNumber - 1) * Model.PageSize;
        }
        @foreach (var simposio in Model)
        {
            index++;
            <tr>
                <td>@index</td>
                <td>@simposio.Regitros.RegistroFolio.Clave</td>
                <td>@simposio.Nombre</td>
                <td>@(simposio.LineaTematica.Nombre)</td>
                <td>@simposio.CoordinadorNombre</td>
                <td>@simposio.CoordinadorCorreo</td>
                <td>@simposio.Regitros.Fecha.ToString("dd/MM/yyyy")</td>
                <td>
                    <a asp-action="Detalles" asp-route-id="@simposio.Id" class="btn btn-outline-success btn-sm">
                        Detalles
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="text-end">
    <small>Total de simposios: @ViewBag.Total</small>
</div>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions { UlElementClasses = new string[] { "pagination", "justify-content-center", "pagination-sm" }, LiElementClasses = new string[] { "page-item" }, PageClasses = new string[] { "page-link" } })